.godot/
bin/
obj/
/android/
.git/
.idea/
.vs/
.vscode/
.deployed_mods/
.decompiled/
publish/
Properties/
packages/
.editorconfig
*.user
Directory.Build.props
*.suo
*.userprefs
*.DotSettings.user
*.DotSettings